.banner-image{
    max-height: 500px;
    object-fit: contain;
}

.label-text{
    margin-top: 20px;
    font-weight: 650;
    font-size: 3vh;
    text-decoration: none;
    color: black;
}

.label-text:hover{
    color: #1a1a74;
    cursor: pointer;
}

.btn-category{
    background-color: #1a1a74;
    color: white;
    font-size: 2vh;
    font-weight: 550;
    border: solid 2px #1a1a74;
    border-radius: 5px;
}

.btn-category:hover{
    color: black;
    /* background-color: rgba(26, 26, 116, 0.9); */
    background-color: white;
    transition: 750ms;
}

.item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    color: #1a1a74;
}

.home-item{
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    transition: top ease 0.5s;
}

.home-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    top: -5px;
}


.item-img{
   height: 200px;
}

.item__btn-block{
    display: none;
    z-index: 1000;
    bottom:  0;
    transition: 1s;
    position: absolute;
    transition: 1s;
    background-color: rgba(26, 26, 116);
    left: 0;
    border-radius:  0px 0px 5px 5px;
}

.home-item:hover  .item__btn-block{
    display: block;
    z-index: 1000;
}

.item__btn-link{
    color: white; 
    text-decoration: none;
}

.item__btn-link:hover{color:white ;}

.item__btn{
    font-weight: 600;
    background-color: white;
}

.item__btn:hover{
    background-color: rgb(201, 201, 201);
    color: rgba(26, 26, 116);
}