.products__category{
    width: 100%;
    background-color: white;
    border: none;
    font-weight: 600;
    padding-block: 1rem;
    padding-inline: 1rem;
    transition: 300ms;
    text-align: start;
}

.products__category-active{
    background-color: rgba(26, 26, 116);
    color: white;
}

.products__category:hover{
    background-color: rgba(26, 26, 116,0.7);
    color: white;
}

.products__category:active{
    background-color: rgba(26, 26, 116, 0.8);
}

.products__sort-flag{
    background-color: white;
    cursor: pointer;
    box-shadow: none !important;
}

.products__sort-flag-active{
    background-color: rgba(26, 26, 116);
    color: white !important;
}